.contact{
    height: 90vh;
    display: flex;
}

.contact-title-wraper{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10%;
    color: #e5e500;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 2em;
    z-index: 2;
}

.contact-canvas{
    position: fixed;
    top: 0;
    z-index: 0;
}