.App {
  text-align: center;
  background-color: #222;
}


.App-header {
  background-color: #222;
  height: 10vh;
  padding: 0 5%;
  color: #e5e500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul{
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: space-between;
}

nav{
  width:20%;
  font-weight:400;
}

.App-header h1{
  font-size: 1.5em;
}

li{
  list-style-type: none;
}

a, a:visited{
  text-decoration: none;
  color: inherit;
  z-index: 2;
}
